body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
}

header, footer {
    background-color: blanchedalmond;
}

.site-title{
    color: darkslategray;
}

#my-image {
    box-shadow: 0 0 2px 1px black;
}

ul {
    list-style-type: square;
}

a:link {
    text-decoration: none;
    background-color: gainsboro;
    border-color: blanchedalmond;
}